*{
    box-sizing:border-box;
}
body{
    margin:0;
}
h1{
    font-size:calc(1.5vh + 1.5vw);
    font-family: 'Roboto';
}
#banner{
    height:100vh;
    position:relative;
    background-image:url('res/bg2 .jpg');
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Roboto';
    font-weight:400;
}
#banner>img{
    position:absolute;
    top:5vh;
    left:2vw;
    max-height:10vh;
    width:auto;
}
#banner>div{
    position:absolute;
    bottom:0px;
    width:100%;
    height:25%;
    text-align:center;
    color:white;
    font-size:27px;
}
header{
    height:50px;
    background-color: #2a5f65;
}
.main{
    font-family:'Raleway';
    border-bottom:0.75vh solid aliceblue;
}
.main:nth-of-type(2n){
    background-color: #f1f2f3;
}

#proc{
    height:100vh;
}
#phead1{
    text-align: center;
    height:30%;
    padding:calc(3vh + 3vw) calc(10vh + 10vw) calc(0vh + 0vw) calc(10vh + 10vw);
}
#psec{
    height:60%;
    text-align: center;
    padding-left:calc(3vw + 5vh);
    padding-right:calc(3vw + 5vh);
}

#psec>div{
    height:100%;
    float:left;
    
    width:30%;
    padding:0px 20px 0px 20px;
    /*box-shadow: 1px 1px 3px #717171,-1px -1px 3px #717171;*/
}
#im{
    height:50%;
}
#im>img{
    max-width:auto;
    max-height:100%;
}
#cont{
    height:40%;   
}
#pr1,#pr2,#pr3{
    margin-left:2vw;
}
#hd{
    font-size:calc(1vw + 1.5vh);
    font-family: 'Roboto';
    color: #47484a;
}
#lin{
    font-size:calc(0.75vw + 1vh);
    color: #696a6c;

}

#big{
    height:100vh;
    text-align:center;
    font-size:calc(2vw + 2vh);
    font-family:'quicksand';
    padding:15vw 30vh 20vw 30vh;
}
#proc2{
    height:125vh;
    padding-top: 10vh;
}
#psec2{
    height:45%;
    text-align: center;
    padding-left:5vw;
    margin-bottom:10vh;
}
#psec2>div{
    height:100%;
    float:left;
    
    width:30%;
    padding:0px 20px 0px 20px;
    /*box-shadow: 1px 1px 3px #717171,-1px -1px 3px #717171;*/
}
#inf1{
    height:100vh;
}
#inf1>section{

    float:left;
    height:75%;
    width:50%;
}
#inf1>#txt1{
    padding:calc(16vh + 4vw)  6vw 5vh 6vw;
    text-align: justify;
}
#txt1>span{
    font-size:calc(1vh + 0.9vw);
}
#inf1>#ig1{
    
}
#txt2{
    padding:calc(16vh + 4vw)  6vw 5vh 6vw;
    text-align: justify;
}
#txt2>span{
    font-size:calc(1vh + 0.9vw);
}

footer{
    height:20vh;
    background-color:black;
}

